<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
<body>


    <div class="credential-wrapper col-md-6  ">
      <form action="/admin/site-management">
        <div class="credential-container m-4 col-12">
            <h1 class="">Site Management</h1>
      
              <div class="submit-wrapper">
                <button  type="submit" class="btn-submit  p-4">Click Here</button>
           </div>
                      
        </div>  
        </form> 
      <form action="/admin/order-management">
            <div class="credential-container m-4 col-12">
            <h1 class="">Order Management</h1>
      
              <div class="submit-wrapper">
                <button  type="submit" class="btn-submit btn-style p-4">Click Here</button>
           </div>
                      
        </div>
        </form>

    </div>
    

</body>


<style>
.btn-submit{
  background-color: aqua;
}
.credential-wrapper{
  
}

.credential-container{
  background-color: rgb(211, 211, 223);
}
</style>





{{!-- <div class="row">
    <div class="size" >
        <div class="box">
            <h3>Site Management</h3>
        </div>
    </div>
    <div class="size">
       <div class="box">
           <h3>Site Management</h3>
        </div>
    </div>

</div>



<style>
    *{
        background-color: #d8d7d7;
    }

    .size{
        width: 50%;
    }
    .box{
        height: 400px;
        width: 45%;
        background-color: rgb(255, 255, 255);
        margin: 9rem;
        border-radius: 1rem;
        border-bottom-left-radius: 3rem;
        border-bottom-color: black;
        border-width: 2rem;
        box-shadow: 3em;
        box-shadow: 5px 7px rgb(110, 110, 110);
        
        
    }
</style> --}}