<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Site Management</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/admin/site-management" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order Management</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/admin/order-management" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>