
        <footer class="mobile-footer">
  <div class="mdc-bottom-navigation pt-2 fixed-bottom  mt-5 ">
        <nav class="mdc-bottom-navigation__list ">
           
            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary "
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <span class="material-icons " >home</span>
               <a href="/"  style="text-decoration: none;"> <span class="mdc-bottom-navigation__list-item__text text-secondary">Home</span></a>
            </span>

            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
               <a href="/cart" style="line-height: 0; text-decoration: none; color: black;" ><span class="material-icons" >moped</span></a> 
              <a href="/cart"  style="text-decoration: none;"> <span class="mdc-bottom-navigation__list-item__text text-secondary">Order</span></a>
            </span>

            <span class="mdc-bottom-navigation__list-item  mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>  
                <span class="material-icons">favorite</span>
              <a href=""  style="text-decoration: none;">  <span class="mdc-bottom-navigation__list-item__text text-secondary">Wishlist</span></a>
            </span>
            
            
            <span class="mdc-bottom-navigation__list-item  mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <a href="/profile" style="line-height: 0; text-decoration: none; color: none; " ><span class="material-icons ">account_circle</span></a> 
            <a href="/profile" style="text-decoration: none;"> <span class="mdc-bottom-navigation__list-item__text text-secondary">Profile</span></a>  
            </span>

        </nav>
    </div>
</footer>

<style>
    @media (max-width:390px){
        .footer{
            margin-bottom: 10%;

        }
        .image3-hide-mob{
            display: none;
            
        }
    }
</style>