<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
<body>





 <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt me-2"></i>123 Street, Aluva</small>
                <small class="ms-4"><i class="fa fa-envelope me-2"></i>cakey@gmail.com</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Follow us:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-twitter"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="/" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold text-primary m-0 ">C<span class="text-secondary">ak</span>ey</h1>
            </a>
           
           
        </nav>
    </div>
    <!-- Navbar End -->











    <div class="credential-wrapper ">
        <div class="credential-container ">
            <img src="/assets/icons/credential.png" class="credential-badge" alt="">
            <h1 class="" style="margin-left: 35%;;">Login</h1>
            {{!-- <p>or <a href="/signup" class="text-primary login-text-style grow" >Create New account</a></p> --}}
       
       
        
            <div class="field-wrapper" >
                <label for="number" class="field-label">Please Enter Your 10 Digits Mobile Number Here *</label>
                <input type="num" id="div-num"  placeholder="Mobile Number" name="number"  class="field">
                <p class="text-danger" id="invalid" >Invalid format Please enter valid number</p>
                <p class="text-danger" id="invalid-user" >User Not Found, Check your number or <a href="/signup"> Create new account</a></p>
                 <p class="text-danger" id="blocked-user" >Account blocked by admin try <a href="/signup"> Signup</a></p>
              {{#if loginErr}}
                  <p class="text-danger" id="otp-error">Wrong Otp</p>
                  {{/if}}
            </div>
            
              <div class="submit-wrapper">
                <button id="div-display" type="submit" class="btn-submit">Next</button>
           </div>
         
        

             <form action="/login-otp" method="post">
            <div class="field-wrapper " id="div-none">
                <label for="number" class="field-label"></label>
                <input type="num" placeholder="Enter your OTP" name="otp" id="number" class="field">
             
            </div>
            
              <div class="submit-wrapper">
                <button id="btn-none" type="submit" class="btn-submit">Login</button>
           </div>
           <p>  By continuing, you agree to Cakey's<a href=""> Conditions of Use </a>and<a href=""> Privacy Notice.</a></p>
            </form>


        <p href="/signup" class=" submit-wrapper" style="">New to Cakey's?</p>
          <button type="button" class="btn btn-light" style="padding-left: 20%; padding-right: 20%;  margin-left: 7%;">Create Your Cakey account </button>
        </div>
    </div>
    
</body>



<script>
    document.querySelector("#div-display").addEventListener("click", function(){
  
    var mobNum = document.getElementById('div-num').value
        var filter = /^\d*(?:\.\d{1,2})?$/;
        if (filter.test(mobNum)) {
            if(mobNum.length==10){
                 document.querySelector("#invalid").style.display = "none";
                  document.querySelector("#invalid-user").style.display = "none";
                    document.querySelector("#blocked-user").style.display = "none";
                    let num=parseInt(document.getElementById('div-num').value);
$.ajax({
    url:'/login-mob-num-submission',
    data:{
        mobnum:num
    },
    method:'post',
    success:(response)=>{
        if(response){

            if(response.status==='blocked'){

                    document.querySelector("#blocked-user").style.display = "block";

            }else{
swal("Otp Send!", "Otp send to your mobile number", "success");
       document.querySelector("#div-none").style.display = "block";
     document.querySelector("#div-num").classList.add('ddiv-num')
     document.querySelector("#div-display").style.display = "none";
     document.querySelector("#btn-none").style.display = "block";
     document.querySelector("#otp-error").style.display = "none";
    document.querySelector("#blocked-user").style.display = "none";

            }
    
        }
        else{
        document.querySelector("#invalid-user").style.display = "block";
                 
        }
      
    }
})
    
  

             } else {
                 document.querySelector("#invalid").style.display = "block";
                 

                return false;
              }
            }
            else{
              document.querySelector("#invalid").style.display = "block";
             
              return false;
           }
      
});







</script>  


<style>
    #div-none{
    display: none;
} 
#btn-none{
    display: none;
}
    .ddiv-num{
        pointer-events: none;
    }
    #invalid{
        display: none;
    }
  #invalid-user{
        display: none;
    }
    #blocked-user{
        display: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>