<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
<body>





 <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt me-2"></i>123 Street, Aluva</small>
                <small class="ms-4"><i class="fa fa-envelope me-2"></i>cakey@gmail.com</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Follow us:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-twitter"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="/" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold  m-0 text-primary">C<span style="color: #F65005;">ak</span>ey</h1>
            </a>
           
           
        </nav>
    </div>
    <!-- Navbar End -->


    <div class="credential-wrapper ">
        <div class="credential-container ">
            <img src="/assets/icons/credential.png" class="credential-badge" alt="">
            <h1 class="pb-2" style="margin-left: 35%;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Login</h1>
            {{!-- <p>or <a href="/signup" class="text-primary login-text-style grow" >Create New account</a></p> --}}
       
       
        
            <div class="field-wrapper" >
                <label for="number" class="field-label">Please Enter Your 10 Digits Mobile Number Here *</label>
                <input type="num" id="div-num"  placeholder="Mobile Number" name="number"  class="field">
                <p class="text-danger" id="invalid" >Invalid format Please enter valid number</p>
                <p class="text-danger" id="invalid-user" >User Not Found, Check your number or <a href="/signup"> Create new account</a></p>
                 <p class="text-danger" id="blocked-user" >Account blocked by admin try <a href="/signup"> Signup</a></p>
                   <p class="text-danger" id="wrong-psw" >Wrong password try again<a href="/login">Login</a></p>
              {{#if loginErr}}
                  <p class="text-danger" id="otp-error">Wrong Otp</p>
                  {{/if}}
            </div>
            
              <div class="submit-wrapper">
                <button id="div-display1" type="submit" class="btn-submit">Send Otp</button>
              <button id="div-display2" type="submit" class="btn-submit">Password</button>

           </div>
           
         
        

             <form action="/login-otp" method="post">
            <div class="field-wrapper " id="div-none1">
                <label for="number" class="field-label"></label>
                <input type="num" placeholder="Enter your OTP" name="otp" id="number" class="field">
             
            </div>
            
              <div class="submit-wrapper">
                <button id="btn-none1" type="submit" class="btn-submit">Login</button>
           </div>


           
            </form>

            
             <form onsubmit="return validatepass()" method="post">
            <div class="field-wrapper " id="div-none2">
                <label for="number" class="field-label"></label>
                <input type="password" placeholder="Enter your Password" name="password" id="psw" class="field" required>
             
            </div>
            
              <div class="submit-wrapper">
                <button id="btn-none2" type="submit" class="btn-submit">Login</button>
           </div>
            </form>

  <div class="submit-wrapper ">

<a href="/signup" type="button" class="" style=" ">Create Your Cakey Account </a>
  </div>
          
        </div>
    </div>
    
</body>



<script>



    function validatepass(){
          document.getElementById('wrong-psw').style.display='none'
    var psw = document.getElementById('psw').value
  let num=parseInt(document.getElementById('div-num').value);


$.ajax({
    url:'/pass-mob-num-submission',
    data:{
        mobnum:num,
        psw:psw
    },
    method:'post',
    success:(response)=>{
        if(response.status===true){
       window.location.href='/'
     }else{
       document.getElementById('wrong-psw').style.display='block'
     }
  return false;
      
    
   
      
    }
})
  return false;
    }



document.querySelector('#div-display1').addEventListener("click",function(){
     document.querySelector("#div-display2").style.display = "none";
     document.querySelector("#btn-none2").style.display = "none";
})
document.querySelector('#div-display2').addEventListener("click",function(){
     document.querySelector("#div-display1").style.display = "none";
     document.querySelector("#btn-none1").style.display = "none";
})


    document.querySelector("#div-display1").addEventListener("click", function(){
  
    var mobNum = document.getElementById('div-num').value
        var filter = /^\d*(?:\.\d{1,2})?$/;
        if (filter.test(mobNum)) {
            if(mobNum.length==10){
                 document.querySelector("#invalid").style.display = "none";
                  document.querySelector("#invalid-user").style.display = "none";
                    document.querySelector("#blocked-user").style.display = "none";
                    let num=parseInt(document.getElementById('div-num').value);
$.ajax({
    url:'/login-mob-num-submission',
    data:{
        mobnum:num,
        pass:false
    },
    method:'post',
    success:(response)=>{
        if(response){

            if(response.status==='blocked'){

                    document.querySelector("#blocked-user").style.display = "block";

            }else{
swal("Otp Send!", "Otp send to your mobile number", "success");
       document.querySelector("#div-none1").style.display = "block";
     document.querySelector("#div-num").classList.add('ddiv-num')
     document.querySelector("#div-display1").style.display = "none";
     document.querySelector("#btn-none1").style.display = "block";
     document.querySelector("#otp-error").style.display = "none";
    document.querySelector("#blocked-user").style.display = "none";

            }
    
        }
        else{
        document.querySelector("#invalid-user").style.display = "block";
                 
        }
      
    }
})
    
  

             } else {
                 document.querySelector("#invalid").style.display = "block";
                 

                return false;
              }
            }
            else{
              document.querySelector("#invalid").style.display = "block";
             
              return false;
           }
      
});

{{!-- Button two PAssword --}}

     document.querySelector("#div-display2").addEventListener("click", function(){
  
    var mobNum = document.getElementById('div-num').value
        var filter = /^\d*(?:\.\d{1,2})?$/;
        if (filter.test(mobNum)) {
            if(mobNum.length==10){
                 document.querySelector("#invalid").style.display = "none";
                  document.querySelector("#invalid-user").style.display = "none";
                    document.querySelector("#blocked-user").style.display = "none";
                    let num=parseInt(document.getElementById('div-num').value);


$.ajax({
    url:'/login-mob-num-submission',
    data:{
        mobnum:num,
        pass:true
    },
    method:'post',
    success:(response)=>{
        if(response){

            if(response.status==='blocked'){

                    document.querySelector("#blocked-user").style.display = "block";

            }else{

       document.querySelector("#div-none2").style.display = "block";
     document.querySelector("#div-num").classList.add('ddiv-num')

          document.querySelector("#div-display2").style.display = "none";
     document.querySelector("#btn-none2").style.display = "block";
     document.querySelector("#otp-error").style.display = "none";
    document.querySelector("#blocked-user").style.display = "none";
    

            }
    
        }
        else{
        document.querySelector("#invalid-user").style.display = "block";
                 
        }
      
    }
})
    
  

             } else {
                 document.querySelector("#invalid").style.display = "block";
                 

                return false;
              }
            }
            else{
              document.querySelector("#invalid").style.display = "block";
             
              return false;
           }
      
});
    
  

          


</script>  


<style>
    #div-none1{
    display: none;
} 
  #div-none2{
    display: none;
} 
#btn-none1{
    display: none;
}
#btn-none2{
    display: none;
}
    .ddiv-num{
        pointer-events: none;
    }
    #invalid{
        display: none;
    }
  #invalid-user{
        display: none;
    }
    #blocked-user{
        display: none;
    }
    #wrong-psw{
        display: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>