<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
<body>


    <div class="credential-wrapper">
        <div class="credential-container">
            <img src="/assets/icons/credential.png" class="credential-badge" alt="">
            <h1 class="">Signup</h1>
            <p>or <a href="" class="text-primary login-text-style grow" > create an account</a></p>
       
       
        
            <div class="field-wrapper" >
                <label for="number" class="field-label">Please Enter Your 10 Digits Mobile Number Here *</label>
                <input type="num" id="div-num"  placeholder="Mobile Number" name="number"  class="field">
             
            </div>
              <div class="submit-wrapper">
                <button id="div-display" type="submit" class="btn-submit">Next</button>
           </div>
             


             <form action="">
            <div class="field-wrapper " id="div-none">
                <label for="number" class="field-label"></label>
                <input type="num" placeholder="Enter your OTP" name="number" id="number" class="field">
             
            </div>
              <div class="submit-wrapper">
                <button id="btn-none" type="submit" class="btn-submit">Next</button>
           </div>
            </form>


         
          
        </div>
    </div>
</body>


<script>


    document.querySelector("#div-display").addEventListener("click", function(){
       
       let num=parseInt(document.getElementById('div-num').value);
$.ajax({
    url:'/mob-num-submission',
    data:{
        mobnum:num
    },
    method:'post',
    success:(response)=>{
        window.alert('otp send')
    }
})
    document.querySelector("#div-none").style.display = "block";

    document.querySelector("#div-num").classList.add('ddiv-num')
     document.querySelector("#div-display").style.display = "none";
     document.querySelector("#btn-none").style.display = "block";


});







</script>  


<style>
    #div-none{
    display: none;
} 
#btn-none{
    display: none;
}
    .ddiv-num{
        pointer-events: none;
    }
 
</style>

