
<section class="vh-100" style="background-color: #f8f9fd; ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
         <div class="icon d-flex align-items-center justify-content-center">
           <i class='fas fa-user-circle' style='font-size:78px;color:#1089ff'></i>
           </div>
              <p class="mb-5" style=" font-weight: 300; font-size: 25px">Sign in</p>
              
  <form action="/signup" method="post">
              <div class="form-outline mb-4 ">
                <input placeholder="Email" type="email" id="typeEmailX-2" name="email" class="form-control form-control-lg login-input-field" />
              </div>
  
              <div class="form-outline mb-1 signup-input-field">
                <input placeholder="Password" type="password" id="typePasswordX-2" name="pswd" class="form-control form-control-lg login-input-field" />
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                
              </div>
  
               <button type="submit" class="form-control btn btn-primary  submit px-3 mb-3" style="background-color: #1089ff; border-radius: 10px;">Login</button>  
               </form>
               <div>
                              <a href="/signup" style="color:#1089ff ; font-size:15px ;  " class="ml-auto">Register Here</a>
               </div>

              <hr class="my-4">

              <div class="w-50 text-md-right">
                 <a href="" style="color:#1089ff ; font-size:15px ;  ">Forgot Password</a>
                 
                   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>