
<body>


    <div class="credential-wrapper">
        <div class="credential-container">
            <img src="/assets/icons/credential.png" class="credential-badge" alt="">
            <h1 class="otp-text-style">Enter OTP</h1>
            <p class="otp-text-style">We've sent an OTP to your phone number.</p>
       
         <form action="/signup">
            <div class="field-wrapper">
                <label for="number" class="field-label"></label>
                <input type="num" placeholder="One Time Password" name="number" id="number" class="field">
             
            </div>
           <div class="submit-wrapper">
                <button type="submit" class="btn-submit">Next</button>
           </div>
           </form>
        </div>
    </div>
</body>
