
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
</head>






<style>
    @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}
#full_name:focus {
 border-color: black
;
}
.input-design{

}
  .required:after {
    content:" *";
    color: red;
  }
   
#address-error,#pincode-error,#fullname-error,#email-error,#psw-error,#psw2-error,#psww2-error,#district-error,#state-error{
    display: none;
}
.credential-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 1rem;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration-form-title {
 
  margin: 0;

  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}


{{!-- inbuild css................................................................................................. --}}


.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
</style>

<body>




    <div class="credential-wrapper">
        <div class="credential-container input-design m-3">
            <h1 class="registration-form-title ">Create an Account</h1>
            <p>or <a href="/login" class="text-primary login-text-style grow" > Already have an account?</a></p>
                    <form name="my-form" onsubmit="return validform()" action="/full-details-form" method="post">
                                <div class="form-group row">
                                    <label for="full_name" class=" required col-md-4 col-form-label text-md-right">Full Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="full_name" class="form-control " name="fullname" required>
                                    </div>
                                   
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="required col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email_address" class="form-control" name="emailaddress" required>
                                         <p id="email-error" style="color: red;">Please enter a valid Email Address</p>
                                    </div>

                                </div>

                                

                                {{!-- <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                                    <div class="col-md-6">
                                        <input type="text" id="phone_number" class="form-control">

                                    </div>
                                </div> --}}

                           

                                <div class="form-group row">
                                    <label for="permanent_address" class=" required col-md-4 col-form-label text-md-right">Permanent Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="permanent_address" class="form-control" name="permanentaddress" required>
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <label for="place" class="required col-md-4 col-form-label text-md-right">Place</label>
                                    <div class="col-md-6">
                                        <input type="text" id="place" class="form-control" name="place" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="district" class="required col-md-4 col-form-label text-md-right">District</label>
                                    <div class="col-md-6">
                                        <input type="text" id="district" class="form-control" name="district" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="state" class="required col-md-4 col-form-label text-md-right">State</label>
                                    <div class="col-md-6">
                                        <input type="text" id="state" class="form-control" name="state" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pincode" class="required col-md-4 col-form-label text-md-right">Pincode</label>
                                    <div class="col-md-6">
                                        <input type="text" id="pincode" class="form-control" name="pincode" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="psw" class="required col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" name="psw" class="form-control" id="password"  required >
                                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                                         <p id="psw-error" style="color: red;"></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="psw2" class="required col-md-4 col-form-label text-md-right">Re-enter Password</label>
                                    <div class="col-md-6">
                                        <input type="password" name="psw2" class="form-control" id="psw2" required>
                                        <p id="psww2-error" style="color: red;">Password Not Matches</p>
                                    </div>
                                </div>
                                
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                        Register
                                        </button>
                                    </div>
                                </div>
                            </form>         
          
        </div>
    </div>
</body>




{{!-- </html> --}}









<script>
          const togglePassword = document
            .querySelector('#togglePassword');
  
        const password = document.querySelector('#password');
  
        togglePassword.addEventListener('click', () => {
  
            // Toggle the type attribute using
            // getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';
                  
            password.setAttribute('type', type);
  
            // Toggle the eye and bi-eye icon
            this.classList.toggle('bi-eye');
        });


    function validform() {

     
        var b = document.forms["my-form"]["emailaddress"].value;
        var e = document.forms["my-form"]["password"].value;
         var f = document.forms["my-form"]["psw2"].value;
        
if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(b))
  {
    if(/^[A-Za-z]\w{7,14}$/.test(e)){
 if(e!=f){
     document.querySelector("#psw-error").style.display = "none";
             document.querySelector("#password").style.borderColor = "#ced4da";
            document.querySelector("#email_address").style.borderColor = "#ced4da";
                    document.querySelector("#email-error").style.display = "none";
            document.querySelector("#psww2-error").style.display = "block";
             document.querySelector("#psw2").style.borderColor = "red";
            return false;
        }else{
            return true
        }
    }else{
         document.querySelector("#email_address").style.borderColor = "#ced4da";
          document.querySelector("#email-error").style.display = "none";
            document.querySelector("#psw-error").style.display = "block";
           document.getElementById("psw-error").innerHTML = "Weak Password, [7 to 16 characters which contain only characters, numeric digits, underscore and first character must be a letter]"

             document.querySelector("#password").style.borderColor = "red";
  return false;
    }
     
  }else{
    document.querySelector("#email_address").style.borderColor = "red";
   document.querySelector("#email-error").style.display = "block";
     return false;
}

      

    }


 

</script>
