

    <div class="credential-wrapper">
        <div class="credential-container">
            <img src="/assets/icons/credential.png" class="credential-badge" alt="">
            <h1 class=""></h1>
            
            
<form action="/signup-password-submit">
            <div class="field-wrapper">
                <label for="password" class="field-label font-weight-bold">Enter you password</label>
                <input type="password" placeholder="Password" name="password" id="password" class="field">
                <label for="password" class="field-label">Re-Enter Your Password</label>
                <input type="password" placeholder="Re-Enter Your Password" name="password" id="password" class="field">
            </div>
           <div class="submit-wrapper">
                <button type="submit" class="btn-submit">Submit</button>
           </div>
           </form>
        </div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="scripts/scripts.js"></script>
</html>