<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/wishlist.style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Caseiro Wishlist</title>
</head>
<body>
   
    <div class="dashboard--container">
        <ul class="bread-crump">
            <li>Home</li>
            <span class="material-symbols-outlined">
                arrow_right
                </span>
            <li>Account</li>
            <span class="material-symbols-outlined">
                arrow_right
                </span>
            <li>Wishlist</li>
        </ul>
        <div class="navigation-container">
            <div class="navigation--wrapper">
                <div class="profile--nav">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="profile-nav--image" alt="">
                    <div class="profile-name--wrapper">
                        <h3>Jhon Mathew</h3>
                        <p>Account Details ></p>
                    </div>
                </div>
    
                <ul class="dashboard-nav">
                    <li >
                        <a href="/myorders" class="nav--item">
                            <img src="/assets/icons/orders.png" alt="" class="nav--icon">
                            <span>Your Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="/manage-address" class="nav--item">
                            <img src="/assets/icons/address.png" alt="" class="nav--icon">
                            <span>Manage Address</span>
                        </a>
                    </li>
                    <li>
                        <a href="/wishlist" class="nav--item nav--item--active">
                            <img src="/assets/icons/wishlist.png" alt="" class="nav--icon">
                            <span>My Wishlist</span>
                        </a>
                    </li>
                    <li>
                       <a href="/login" class="nav--item">
                            <img src="/assets/icons/logout.png" alt="" class="nav--icon">
                            <span>Logout</span>
                       </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wishlist-wrapper">
            <div class="wishlist-card">
                <img src="/assets/images/ck.jpg" class="wishlist-img" alt="">
                <div class="wishlist-content">
                    <div class="wishlist-details">
                        <h3 class="product--title">Wajah Ceramic Vase</h3>
                        <p class="price">AED 500.00</p>
                    </div>
                    <button class="btn-remove-wishlist-item">Remove</button>
                </div>
            </div>
            <div class="wishlist-card">
                <img src="/assets/images/ck.jpg" class="wishlist-img" alt="">
                <div class="wishlist-content">
                    <div class="wishlist-details">
                        <h3 class="product--title">Wajah Ceramic Vase</h3>
                        <p class="price">AED 500.00</p>
                    </div>
                    <button class="btn-remove-wishlist-item">Remove</button>
                </div>
            </div>
            <div class="wishlist-card">
                <img src="/assets/images/ck.jpg" class="wishlist-img" alt="">
                <div class="wishlist-content">
                    <div class="wishlist-details">
                        <h3 class="product--title">Wajah Ceramic Vase</h3>
                        <p class="price">AED 500.00</p>
                    </div>
                    <button class="btn-remove-wishlist-item">Remove</button>
                </div>
            </div>
            <div class="wishlist-card">
                <img src="/assets/images/ck.jpg" class="wishlist-img" alt="">
                <div class="wishlist-content">
                    <div class="wishlist-details">
                        <h3 class="product--title">Wajah Ceramic Vase</h3>
                        <p class="price">AED 500.00</p>
                    </div>
                    <button class="btn-remove-wishlist-item">Remove</button>
                </div>
            </div>
        </div>
        
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="scripts/scripts.js"></script>
</html>